@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

p {
	color: #2C3A47;
}

body {
    font-family: 'Roboto', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
}
.btn {
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* navbar*/
.navbar {
    padding: 0.8rem 2rem;
    font-family: 'Poppins', sans-serif;
}
.navbar .nav-link {
    color: #000000;
    font-weight: 600;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}
.navbar .nav-link:hover {
    color: #10AC84;		/* Rojo Comunista */
}
.navbar .nav-link.active::after {
    content: '';
    display: block;
    height: 3px;
    background: #10AC84;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 2px;
}
.navbar-logo {
    height: 80px;
    width: auto;
}
.brand-name {
  font-weight: 700;
  font-family: 'Bebas Neue';
  font-size: 1.5rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@media (max-width: 991px) {
    .navbar-logo {
        display: none; 
    }
    .brand-text {
        display: inline-block; 
    }
    
    .navbar-brand {
        justify-content: center;
        width: 100%;
    }
  
    .navbar-toggler {
        position: relative;
        z-index: 2;
    }
    
    .navbar .container {
        position: relative;
    }
}
/* banner*/
.banner img {
  height: 75vh; 
  object-fit: cover; 
  object-position: center center; 
}
.banner .carousel-caption h5 {
    color: #ffffff;       
    font-weight: 1500;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);     
}

.banner .carousel-caption p {
    color: #ffffff;      
    font-weight: 800;
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);     
}
.btn-banner {
  background-color: #10AC84;		/* Gris Comunista */
  color: #000000;
  border: none;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.btn-banner:hover {
  background-color: #c2bcb6; 
  color: #000;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}



.submenu-opciones {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 60px;
  gap: 20px;
}

.submenu-opciones .card {
  border-radius: 30px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  flex-basis: calc(25% - 20px);
  text-align: center;
  overflow: hidden; 
}

.submenu-opciones .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.submenu-opciones .card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.submenu-opciones .cards-body .btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #10AC84; 
  color: #000000; 
  border-radius: 50px; 
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  border: none;
}

.submenu-opciones .cards-body .btn:hover {
  background-color: #ffffff; 
  color: #10AC84; 
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
  border: 2px solid #000000;
}

.iconesia {
  background: linear-gradient(
    to bottom,
    #10AC84 0%,      
    #10AC84 25%,     
    #fff 100%       
  );
  color: #fff;
  padding: 60px 0;
  text-align: center;
}
.iconesia .accion-item {
  margin-bottom: 40px; 
  color: #000000ff;

}

.iconesia .accion-item .icono-ito {
  width: 80px; 
  height: auto;
  display: block;
  margin: 0 auto 20px; 
  filter: brightness(0) invert(1);
}

.iconesia .accion-item h4 {
  font-weight: 600;
  margin-bottom: 15px; 
  color: #000000;
}

.iconesia .accion-item p {
  max-width: 300px;
  margin: 0 auto 20px;
  color: #000000;
}

.iconesia .btn {
  font-weight: 600;
  padding: 8px 18px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.iconesia .btn:hover {
  transform: translateY(-3px);
  box-shadow: none;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}



.newsletter {
  background-color: #ffffff; 
  border-radius: 15px;
  padding: 60px 15px; 
}

.newsletter-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #10AC84; 
  margin-bottom: 2rem;
}

.newsletter-input {
  border-radius: 50px;   
  max-width: 400px;      
  text-align: center;
  border: 2px solid #000000; 
  padding: 10px 15px;
  font-size: 1rem;
}

.newsletter-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.newsletter-btn {
  border-radius: 50px;
  font-weight: 600;
  min-width: 180px;      
  padding: 10px 25px;
  background-color: #10AC84; 
  color: #000000; 
  transition: transform 0.3s, box-shadow 0.3s;
}

.newsletter-btn:hover {
  background-color: #82ccdd; 
  transform: translateY(-3px);
  /*box-shadow: 0 8px 15px rgba(0,0,0,0.15);*/
  box-shadow: #2c3a47;
}

.btn-contacto {
  background-color: #2c3a47;
  color: #000;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-contacto:hover {
  background-color: #2c3a47;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.contacto-form {
  background-color: #f8f9fa;
}

.contacto-form .card {
  border-radius: 20px;
  background-color: #fff;
}

.contacto-form input, .contacto-form textarea {
  border: 1px solid #ddd;
  padding: 0.8rem;
  border-radius: 10px;
}

.contacto-form .card, .mas-informacion .card {
  animation: fadeInSection 0.8s ease-in-out;
}

.mas-informacion {
  background-color: #fff;
  text-align: center;
}

.mas-informacion .card {
  border-left: none;
  border-top: 5px solid #2c3a47;
  border-radius: 20px;
}

.mas-informacion p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.8rem;
}

.mas-informacion .card {
  animation: fadeInSection 0.8s ease-in-out;
}

.iconi-whatsapp {
  color: #2c3a47;
  transition: transform 0.3s, color 0.3s;
}

.iconi-whatsapp:hover {
  transform: scale(1.15);
  color: #82ccdd;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; 
    position: relative;
    height: 0;
}
.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 575px) {
  .newsletter-input {
    max-width: 90%;
  }
}
@media (min-width: 576px) {
  .newsletter form > div {
    max-width: 400px;
  }
}
@media (min-width: 576px) {
  .newsletter form > div {
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  .submenu-opciones .card {
    flex-basis: calc(50% - 15px); 
  }
}

@media (max-width: 575px) {
  .submenu-opciones .card-img-top {
    height: 150px; 
  }
  .submenu-opciones .cards-body h5 {
    font-size: 1rem;
  }
  .submenu-opciones .cards-body p {
    font-size: 0.85rem;
  }
}


.footer {
  background-color: #0A3D62; 
  color: #ffffff;
  padding: 40px 0;
  font-family: 'Poppins', sans-serif;
}

.footer .lineas a:link{
  color: #ffffff; 		
}

.footer .lineas a:visited{
  color: #ffffff; 		
}

.footer .lineas a:hover{
  color: #ffffff; 		
}

.footer .copir {
  color: #ffffff;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icon i {
  color: #10AC84; 
  transition: transform 0.3s, color 0.3s;
}

.footer-icon i:hover {
  transform: translateY(-5px);
  color: #82ccdd; 		/* ROJIZO HOBER EN ICONOS*/
}

.footer-icon p {
  font-size: 0.9rem;
  margin-top: 5px;
  text-align: center;
  color: #ffffff;
}

.footer hr {
  margin: 1rem 0;
  border-color: rgba(255,255,255,0.2);
}

.footer small {
  font-size: 0.8rem;
  color: #C1C1C1;
}

@media (max-width: 991px) {
  .footer {
    padding: 30px 15px;
  }
}

@media (max-width: 575px) {
  .footer-icon i {
    font-size: 2rem;
  }
}
